.wrapper{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: #161821;
}

.interval{
    display: grid;
    justify-content: center;
    align-content: end;
    width: auto;
    max-height: 20vh;
    font-family: 'Dosis';
    padding: 20px;
    gap: 10px;
    margin-top: 140px;
}

.interval h2{
    color: white;
    text-align: center;
    font-size: clamp(18px, 3vh, 28px);
}

.interval select{
    flex: 2;
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Dosis';
    appearance: none;
    -webkit-appearance: none;
    width: 150px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 1000;
    transition: background 0.3s ease;
    text-align: center;
}

.interval select:focus{
    outline: none;
    background-color: rgba(0,180,0,0.5);
    backdrop-filter: blur(10px);
}

.interval select option {
    background-color: green;
    color: white;
    padding: 10px;
}

.interval input{
    background-color: green;
    color: white;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Dosis';
    font-size: 14px;
    font-weight: 1000;
    transition: background 0.3s ease;
    text-align: center;
}

.mese p{
    color: white;
    font-size: 1rem;
    font-family: 'Dosis';
    text-align: center;
}

.masa{
    min-height: 20vh;
    min-width: 15vw;
    background-color: green;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Molle';
    transform: rotateY(0deg);
    transition: 1s ease;
}

.masa.ocupat{
    min-height: 20vh;
    min-width: 15vw;
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Molle';
    transform: rotateY(0deg);
    transition: 1s ease;
}

.mese {
    display: flex;
    flex: 1;
    gap: 5vw;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.masa-container {
    width: 100px;
    height: 100px;
    margin: 10px;
    perspective: 1000px;
}

.masa-card {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}

.masa-card div p{
    font-size: 1rem;
}

.txt-rezervat{
    font-size: 1rem;
}

.masa-container.is-flipped .masa-card {
    transform: rotateY(180deg);
}

.face {
    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.face.front {
    background-color: green;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: absolute;
    backface-visibility: hidden;
    font-family: 'Dosis';
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.face.front:hover{
    transform: scale(1.05);
    transition: 0.1s ease-out;
}

.face.front.ocupat {
    background-color: #e74c3c;
    cursor: not-allowed;
}

.face.back {
    background-color: green;
    color: white;
    border-radius: 10px;
    transform: rotateY(180deg); 
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: 'Dosis';
    box-sizing: border-box;
}

.back input { 
    width: 60%;
    margin-bottom: 5px; 
    border: none;
    border-radius: 5px;
    font-family: 'Dosis';
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.back button {
    background-color: green;
    border: none;
    border-radius: 30px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
}

.interval select::-webkit-scrollbar {
    display: none;
}